/*
  Name: Cheryl Moser
  Date: November 26, 2023
  AD320 CP4

  CSS style document for the Moss Quotes CP4 project.
  Used by all html pages in the public folder for consistency in look & feel.
*/

html {
  min-width: 600px;
  min-height: 600px;
}

body {
  background-color: rgb(137, 182, 154);
  font-family: "Bellota Text", sans-serif;
  font-size: larger;
  font-weight: lighter;
  margin: 5%;
  width: 90%;
  height: 600px;
  text-align: center;
  flex-flow: column;
}

hgroup h1 {
  border-bottom: 1px solid rgb(42, 42, 42);
  border-top: 1px solid rgb(42, 42, 42);
  padding-top: 1%;
  padding-bottom: 1%;
}

hgroup p {
  margin:0%;
}

#result {
  background-image: url("img/it-crowd-moss-fire.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#result p {
  background-color: rgba(170, 170, 170, 0.75);
  color: whitesmoke;
  width: 60%;
  height: 50%;
  font-size: x-large;
}

body, #entry, #result {
  display: flex;
}

#top, #entry, #result {
  width: 100%;
}

#entry {
  padding-top: 10px;
  padding-bottom: 20px;
}

#entry, #result{
  justify-content: center;
  align-content: center;
}

#result {
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 20px;
}

footer {
  font-size: medium;
}